model_config_list: {
  config: {
    name: "saved_model_half_plus_three",
    base_path: "/models/allmodels/saved_model_half_plus_three",
    model_platform: "tensorflow"
  },
  config: {
    name: "saved_model_half_plus_two_cpu",
    base_path: "/models/allmodels/saved_model_half_plus_two_cpu",
    model_platform: "tensorflow"
  },
  config: {
    name: "saved_model_resnet_v2",
    base_path: "/models/allmodels/saved_model_resnet_v2",
    model_platform: "tensorflow"
  }
}